/*TABS STYLE*/
* {
  box-sizing: border-box;;
}

/* Styles */

body {font-family: 'Open Sans';}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px ;
  transition: 0.3s;
  font-size: 17px;

}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* MY STYLE */


html {
  font-size: 10px;
}

.logoGrey {
  height: 98px;
  width: 98px;
}

/*Typography */
p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: bolder;
  line-height: 10rem;
  letter-spacing: 3px;
}
h2 {
  font-size: 3.6rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h3 {
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h4 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
h5 {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

.intro {
  align-items: center;
  justify-content: space-between;
  text-align: center;
  line-height: 4.5rem;
  font-weight: lighter;
  color: #5B524A;
  }
#introsm {
  font-size: 2.5rem;
}
.introBig {
  font-size: 3.6rem;
}
.contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  grid-column: 1 / 13;
  font-size: 3.2rem;
  font-weight: lighter;
  color: #5B524A;
}
.redHead {
  color: #D91D1D;
  padding-left: 20px;
  padding-right: 20px;
}
.psy {
  color: #5B524A;
  line-height: 3rem;
}

/*Flex-box nav*/
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.overlay-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h5.m2 {
  padding-right: 20px;
  font-weight: lighter;
  color: #5B524A;
}
h5.m3 {
  padding-left: 50px;
  font-weight: lighter;
  color: #5B524A;
}
h5.m5 {
  padding-right: 20px;
  font-weight: lighter;
  color: #ffffff;
}
h5.m6 {
  padding-left: 50px;
  font-weight: lighter;
  color: #ffffff;
}
a:link {
  text-decoration: none;
}
.na {
  grid-column: 1 / 13;
  padding-top: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  height: 100%;
  grid-gap: 25px;
  margin: 20px;
}

.highlight {
  color: #D91D1D;
}
.rotate {
  grid-column: 1 / 1;
  transform: rotate(-90deg) translateY(1%) translateX(1%);
  color: #5B524A;
  opacity: 0.5;
  font-weight: normal;
}
.so {
  grid-column: 12 / 12;

}
.social {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}
.secondGrid {
  grid-column: 2 / 7;
}
.secondFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size:
}
.subtitle {
  grid-column: 2 / 5;
  margin-top: ;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 45px;
  line-height: 3rem;
}
.btnCase {
  width: 181px;
  height: 50px;
  text-align: center;
  line-height: 1em;
  border: 2px solid white;
  font-size: 2rem;
  grid-column: 2 / 4;
  border-color: #ffffff;
  background: #4187C4;
  color: #ffffff;
  border-radius: 9px;
  padding: 14px 20px;

}
.btnCase:hover {
  background: #ffffff;
  color: #4187C4;
}
.uxAbout {
  grid-column: 3 / 11;
  color: #5B524A;
  line-height: 3.5rem;
  font-weight: lighter;
}

#section1 {
  background: url(../images/my_photo_homepage.png), url(../images/grid.png), #ffffff;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 20%, 98%, cover;
  background-position: 51% 25%, center, center;
}
#section3, #section4 {
  background: url(../images/grid.png) no-repeat , #ffffff;
  background-position: center;
  background-size: 98% 100%;
}
#section2 {
  background: url(../images/sd_img.png), url(../images/grid.png), #4187C4;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 70%, 98%, cover;
  background-position: right, center, center;
}
.designA {
  color: #D91D1D;
  padding-bottom: 30px;
  grid-column: 2 / 7;
}

.socC {
  margin-top: 40px;
  grid-column: 3 / 6;

}
.socialC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.whole {
  grid-column: 3 / 11;

}
body i {
  font-family:'FontAwesome'!important;
  padding-left: 10px;
  font-size: 20px;
}
#log {
  height: 98px;
  weight: 98px;
}
.filler {
  display: flex;
  height: 150px;
}
@media screen and (max-width: 1025px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
  }
  #section1 {
    background: url(../images/my_photo_homepage.png), url(../images/grid.png), #ffffff;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30%, 95% 100%, cover;
    background-position: 50% 25%, center, center;
  }
  .filler {
    display: flex;
    height: 230px;
  }
  #section3, #section4 {
    background: url(../images/grid.png) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
    background-size: 98% 100%;
  }
  #section2 {
    background: url(../images/sd_img.png), url(../images/grid.png), #4187C4;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 70%, 95% 100%, cover;
    background-position: right, center, center;
  }
  .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .center {
    grid-column: 1 / 8;
    font-size: 3.2rem;
    font-weight: lighter;
    color: #5B524A;
  }
  .intro {
    text-align: center;
    font-weight: lighter;
    color: #5B524A;
    padding-bottom: 80px;
  }
  .introBig {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
  #introsm {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .na {
    grid-column: 1 / 8;
    padding-top: 10px;
  }
  h5.m2 {
    padding-right: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m3 {
    padding-left: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m5 {
    padding-right: 10px;
    font-weight: lighter;
    color: #ffffff;
  }
  h5.m6 {
    padding-left: 10px;
    font-weight: lighter;
    color: #ffffff;
  }
  #log {
    height: 40%;
    width: 40%;
  }
  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .mail {
    padding-left: 30px;
  }
  .link {
    padding-left: 15px;
  }
  .drib {
    padding-right: 30px;
  }
  .git {
    padding-right: 15px;
  }
  .rotate {
    display: none;
  }
  .secondGrid {
    grid-column: 1 / 9;
    text-align: left;
  }
  .sendFlex {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #ffffff;
    text-align: left;
  }
  .subtitle {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 3rem;
    text-align: left;
  }
  .btnCase {
    width: 181px;
    height: 50px;
    text-align: center;
    line-height: 1em;
    border: 2px solid white;
    font-size: 2rem;
    grid-column: 2 / 4;
    border-color: #ffffff;
    background: #4187C4;
    color: #ffffff;
    border-radius: 9px;
    padding: 14px 20px;

  }
  .whole {
    grid-column: 2 / 7;

  }
  .uxAbout {
    grid-column: 2 / 7;
    font-size: 2rem;

  }
  .redHead {
    font-size: 2.4rem;
  }
  .socC {
    grid-column: 2 / 4;
  }
  .socialC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 769px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
  }
  #section1 {
    background: url(../images/my_photo_homepage.png), url(../images/grid.png), #ffffff;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 35%, cover, cover;
    background-position: 50% 25%, center, center;
  }
  .filler {
    display: flex;
    height: 220px;
  }
  #section3, #section4 {
    background: url(../images/grid.png) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
    background-size: 98% 100%;
  }
  #section2 {
    background: url(../images/sd_img.png), url(../images/grid.png), #4187C4;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 85%, cover, cover;
    background-position: 50% 25%, center, center;
  }
  .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .center {
    grid-column: 1 / 7;
    font-size: 3.2rem;
    font-weight: lighter;
    color: #5B524A;
  }
  .intro {
    text-align: center;
    font-weight: lighter;
    color: #5B524A;
    padding-bottom: 80px;
  }

  #introsm {
    font-size: 2rem;
  }
  .na {
    grid-column: 1 / 7;
    padding-top: 10px;
  }
  h5.m2 {
    padding-right: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m3 {
    padding-left: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m5 {
    padding-right: 10px;
    font-weight: lighter;
    color: #ffffff;
  }
  h5.m6 {
    padding-left: 10px;
    font-weight: lighter;
    color: #ffffff;
  }
  #log {
    height: 40%;
    width: 40%;
  }
  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .mail {
    padding-left: 30px;
  }
  .link {
    padding-left: 15px;
  }
  .drib {
    padding-right: 30px;
  }
  .git {
    padding-right: 15px;
  }
  .rotate {
    display: none;
  }
  .secondGrid {
    grid-column: 1 / 7;
    text-align: center;
  }
  .sendFlex {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #ffffff;
    padding-top: 140px;
    text-align: center;
  }
  .subtitle {
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 3rem;
    text-align: center;
  }
  .btnCase {
    width: 181px;
    height: 50px;
    text-align: center;
    line-height: 1em;
    border: 2px solid white;
    font-size: 2rem;
    grid-column: 2 / 4;
    border-color: #ffffff;
    background: #4187C4;
    color: #ffffff;
    border-radius: 9px;
    padding: 14px 20px;

  }
  .whole {
    grid-column: 1 / 7;

  }
  .uxAbout {
    grid-column: 1 / 7;
    font-size: 2rem;

  }
  .redHead {
    font-size: 2.4rem;
  }
  .socC {
    grid-column: 1 / 3;
  }
  .socialC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 416px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 6px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
  }
  #section1 {
    background: url(../images/my_photo_homepage.png), url(../images/grid_mobile.png), #ffffff;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 50%, 90%, cover;
    background-position: 50% 25%, center, center;
  }
  .filler {
    display: flex;
  }
  #section3, #section4 {
    background: url(../images/grid_mobile.png) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
    background-size: 90%, 100%;
  }
  #section2 {
    background: url(../images/sd_img.png), url(../images/grid_mobile.png), #4187C4;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 85%, 90%, cover;
    background-position: 50% 25%, center, center;
  }
  .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .center {
    grid-column: 1 / 7;
    font-size: 3.2rem;
    font-weight: lighter;
    color: #5B524A;
  }
  .intro {
    text-align: center;
    line-height: 1.6;
    font-weight: lighter;
    color: #5B524A;
    padding-bottom: 80px;
  }
  .introBig {
    font-size: 2.2rem;
  }
  #introsm{
    font-size: 1.8rem;
  }
  .na {
    grid-column: 1 / 7;
    padding-top: 10px;
  }
  h5.m2 {
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m3 {
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m5 {
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: lighter;
    color: #ffffff;
  }
  h5.m6 {
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: lighter;
    color: #ffffff;
  }
  #log {
    height: 35%;
    width: 35%;
  }
  .social {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .mail {
    padding-left: 30px;
  }
  .drib {
    padding-right: 30px;
  }
  .link {
    padding-left: 15px;
  }
  .git {
    padding-right: 15px;
  }
  .rotate {
    display: none;
  }
  .secondGrid {
    grid-column: 1 / 7;
    text-align: center;
  }
  .secondFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: #ffffff;
    font-size: 7.5rem;
    line-height: 7.5rem;
    padding-top: 15px;
    text-align: center;
  }
  .subtitle {
    grid-column: 1 / 7;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 3rem;
    font-size: 1.8rem;
  }
  .btnCase {
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 1em;
    border: 2px solid white;
    font-size: 1.8rem;
    grid-column: 2 / 4;
    border-color: #ffffff;
    background: #4187C4;
    color: #ffffff;
    border-radius: 9px;
    padding: 14px 20px;
    align-items: center;
  }
  button {
    align-items: center;
  }
  .whole {
    grid-column: 1 / 7;
  }
  .tab button {
    padding: 6px;
  }
  h2.redHead {
    font-size: 1.8rem;
    padding: 3px;
  }

  .tabcontent {
    padding: 0px;
  }
  .uxAbout {
    grid-column: 1 / 7;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    }
  .psy{
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding-top: 7px;
    font-weight: lighter;
  }
  .socC {
    grid-column: 2 / 6;
  }
  .socialC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }
}
