/*TABS STYLE*/
* {
  box-sizing: border-box;;
}

/* Styles */

body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px ;
  transition: 0.3s;
  font-size: 17px;

}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* MY STYLE */


html {
  font-size: 10px;
}

.logoGrey {
  height: 98px;
  width: 98px;
}

/*Typography */
p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 12.5rem;
  font-weight: bolder;
  line-height: 120px;
  letter-spacing: 3px;
}
h2 {
  font-size: 3.6rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h3 {
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h4 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
h5 {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}

.introBig {
  font-size: 3.2rem;
  font-weight: lighter;
  color: #5B524A;
}
.psyRes {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.5rem;
}
.redHead {
  color: #D91D1D;
  padding-left: 20px;
  padding-right: 20px;
}
.psy {
  color: #5B524A;
  line-height: 3rem;
}

/*Flex-box nav*/
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.overlay-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h5.m2 {
  padding-right: 20px;
  font-weight: lighter;
  color: #5B524A;
}
h5.m3 {
  padding-left: 50px;
  font-weight: lighter;
  color: #5B524A;
}
h5.m5 {
  padding-right: 20px;
  font-weight: lighter;
  color: #ffffff;
}
h5.m6 {
  padding-left: 50px;
  font-weight: lighter;
  color: #ffffff;
}
a:link {
    text-decoration: none;
}
.na {
  grid-column: 1 / 13;
  grid-row: 1;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  margin: 20px;
}

img.portrait {
  grid-column: 6 / 8;
  grid-row: 2 / 6;
  height:250px;
  weight: 250px;
  padding-bottom: 15px;;
}

.intro {
  grid-column: 4 / 10;
  grid-row: 4 / 6;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
  color: #5B524A;
}
.highlight {
  color: #D91D1D;
}
.arr {
  grid-column: 7 / 7;
  grid-row: 5 / 6;
  margin-left: -15px;
  margin-top: 30px;
}
.rotate {
  grid-column: 1 / 1;
  grid-row: 4 / 6;
  transform: rotate(-90deg) translateY(25%) translateX(100%);
  color: #5B524A;
  opacity: 0.5;
}
.vl1{
  border-left: 0.25px solid #5B524A;
  opacity: 0.5;
  height: 65px;
  left: 50%;
  margin-left: 20 px;
  top: 0;
  grid-column: 1 / 1;
  grid-row: 3 / 6;
}
.vl2{
  border-left: 0.25px solid #5B524A;
  opacity: 0.5;
  height: 65px;
  top: 0;
  grid-column: 1 / 1;
  grid-row: 5 / 6;
}
.vl3{
  border-right: 0.25px solid #5B524A;
  opacity: 0.5;
  height: 65px;
  left: 50%;
  top: 0;
  grid-column: 12 / 12;
  grid-row: 3 / 6;
}
.vl4{
  border-right: 0.25px solid #5B524A;
  opacity: 0.5;
  height: 65px;
  grid-column: 12 / 12;
  grid-row: 5 / 6;
}
.so {
  grid-column: 12 / 12;
  grid-row: 4 / 6;
  padding-top: px;
}
.social {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}
.title {
  grid-column: 2 / 7;
  grid-row: 2 / 6;
  color: #ffffff;
}
.caseHome {
  grid-column: 5 / 13;
  grid-row: 1 / 6;
  z-index: -1;
  width: 1000px;
  height: auto;
}
.subtitle {
  grid-column: 2 / 5;
  grid-row: 4 / 6;
  margin-top: ;
  color: #ffffff;
  margin-top: 25px;
}
.btnCase {
  width: 181px;
  height: 50px;
  text-align: center;
  line-height: 1em;
  border: 2px solid white;
  font-size: 2rem;
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  border-color: #ffffff;
  background: #4187C4;
  color: #ffffff;
  border-radius: 9px;
  padding: 14px 20px;
  margin-bottom: 200px;
}
.btnCase:hover {
  background: #ffffff;
  color: #4187C4;
}
.uxAbout {
  grid-column: 3 / 11;
  grid-row: 2 / 6;
  color: #5B524A;
  line-height: 3.5rem;
  font-weight: lighter;
}

#section1, #section3, #section4 {
  background: url(../images/grid.png) no-repeat , #ffffff;
  background-size: cover;
  background-position: center;
  background-size: 98% 100%;
}
#section2 {
  background: url(../images/grid.png), #4187C4;
  background-size: cover;
  background-position: center;
  background-size: 98% 100%;
}
.designA {
  color: #D91D1D;
  padding-bottom: 30px;
  grid-column: 2 / 7;
  grid-row: 2 / 6;
  margin-top: 120px;
}
.son1, .son2 {
  margin-top: 65px;
  font-weight:lighter;
  line-height: 2.5rem;
}
.son1 {
  color: #5B524A;
  grid-column: 2 / 7;
  grid-row: 3 / 6;
}
.son2 {
  color: #5B524A;
  grid-column: 7 / 12;
  grid-row: 3 / 6;
}
.socC {
  margin-top: 40px;
  grid-column: 3 / 6;
  grid-row: 5 / 6;
}
.socialC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.whole {
  grid-column: 3 / 11;
  grid-row: 3 / 6;
}
body i {
font-family:'FontAwesome'!important;
padding-left: 10px;
  font-size: 20px;
}
#log {
  height: 98px;
  weight: 98px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 25px;
    margin: 30px;
    height: 100%;
  }
  #section1, #section3, #section4 {
    background: url(../images/grid_mobile.png) no-repeat , #ffffff;
    background-size: cover;
    background-position: center;
    background-size: 93% 100%;
  }
  #section2 {
    background: url(../images/grid_mobile.png) no-repeat, #4187C4;
    background-size: cover;
    background-position: center;
    background-size: 93% 100%;
  }
  .caseHome {
    grid-column: 1 / 7;
    grid-row: 2 / 7;
    z-index: -1;
    width: 100%;
    height: auto;
  }
  img.portrait {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .intro {
    grid-column: 1 / 7;
    grid-row: 5 / 7;
    text-align: center;
    line-height: 1.5;
    font-weight: lighter;
    color: #5B524A;
  }
  .na {
    grid-column: 1 / 7;
    grid-row: 1;
  }
  h5.m2 {
    padding-right: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m3 {
    padding-left: 10px;
    font-weight: lighter;
    color: #5B524A;
  }
  h5.m5 {
    padding-right: 10px;
    font-weight: lighter;
    color: #ffffff;
  }
  h5.m6 {
    padding-left: 10px;
    font-weight: lighter;
    color: #ffffff;
}
#log {
  height: 50%;
  width: 50%;
}
.vl1, .vl2, .vl3, .vl4 {
  display: none;
}
.arr {
  grid-column: 4 / 4;
  grid-row: 7 / 7;
  margin-left: -15px;
  margin-top: 30px;
}
.so {
  grid-column: 2 / 6;
  grid-row: 7 / 7;
  margin-top: 30px;
}
.social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.rotate {
  display: none;
}
.title {
  grid-column: 2 / 6;
  grid-row: 4 / 7;
  padding-top: 60px;
  text-align: center;
}
.subtitle {
  grid-column: 2 / 6;
  grid-row: 6 / 7;
  line-height: 34px;
  font-size: 26px;
  text-align: center;
}
.btnCase {
  grid-column: 3 / 6;
  grid-row: 7 / 7;
  margin-bottom: 0px;
}
.whole {
  grid-column: 1 / 7;
  grid-row: 4 / 7;
}
.uxAbout {
  grid-column: 1 / 7;
  grid-row: 2 / 6;
  color: #5B524A;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: lighter;
  text-align: center;
}
.socC {
  grid-column: 2 / 6;
  grid-row: 7 / 7;
}
.socialC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
.psy {
  font-size: 2rem;
  line-height: 3.5rem;
}

}
