
#container {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    height: 100%;
    grid-gap: 25px;
    margin: 20px;
  }
}
p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10rem;
  font-weight: bolder;
  line-height: 10rem;
  letter-spacing: 3px;
}
h2 {
  font-size: 3.6rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
h3 {
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
h4 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}
h5 {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
}
#log {
  height: 98px;
  width: 98px;
}
/*Flex-box nav*/
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.overlay-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h5.m2 {
  padding-right: 20px;
  font-weight: lighter;
  color: #5B524A;
}
h5.m3 {
  padding-left: 50px;
  font-weight: lighter;
  color: #5B524A;
}
a:link {
  text-decoration: none;
}
.na {
  grid-column: 1 / 13;
  padding-top: 10px;
}
/*Nav end */
.heroGrid {
  grid-column: 2 / 12;
}
.heroFlex {
  background: url(../images//sd_on_a_laptop.png), url(../images/grid.png), #4187C4;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 70%, 98%, cover;
  background-position: right, center, center;
}
